.Login-Container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 10px 10px 10px lightgray;
}

.Login-Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 10px lightgray;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
